#root {
    display: flex;
    max-width:auto;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .div {
    display:flex;
    width: 600rem;
    height: 100%;
    justify-content: center;
    align-items: center

  }
  .fig{
    display: grid;
    position: relative;
    width: 20rem;
    height: 20rem;
    top: 34rem;
    left: 8rem;
    border-radius: 20rem;
    background-color: rgb(243, 168, 118);
  }
  .fig2{
    display: grid;
    position: absolute;
    width: 20rem;
    height: 20rem;
    top: 2rem;
    right: 3rem;
   
    border-radius: 15rem;
    background-color: rgb(112, 28, 101);
  }
  .fig3{
    display: grid;
    position: absolute;
    width: 20rem;
    height: 20rem;
    left: 30rem;
    top: 10rem;
    
    border-radius: 10rem;
    background-color: rgb(211, 191, 16);
  }
  .fig4{
    display: grid;
    position: absolute;
    width: 20rem;
    height: 20rem;
    right: 35rem;
    
    border-radius: 10rem;
    background-color: rgb(229, 4, 236);
  }
  .fig5{
    display: grid;
    position: absolute;
    width: 20rem;
    height: 20rem;
    left:5rem;
 
    
    border-radius: 10rem;
    background-color: rgb(47, 158, 37);
  }
  .fig6{
    display: grid;
    position: absolute;
    width: 20rem;
    height: 20rem;
    top: 40rem;
    left: 20rem;
    
    border-radius: 10rem;
    background-color: rgb(3, 70, 214);
  }
  .fig7{
    display: grid;
    position: absolute;
    width: 20rem;
    height: 20rem;
    right: 8rem;
    top: 36rem;
    border-radius: 10rem;
    background-color: rgb(233, 233, 233);
  }
  .fig8{
    display: grid;
    position: absolute;
    width: 20rem;
    height: 20rem;
   right: 50rem;
    top: 25rem;
    border-radius: 10rem;
    background-color: rgb(56, 14, 124);
  }
  .fig9{
    display: grid;
    position: absolute;
    width: 20rem;
    height: 20rem;
    left: 1rem;
    top: 30rem;
    border-radius: 10rem;
    background-color: rgb(41, 19, 19);
  }



  form {
    display:block;
    position:absolute;
    top: 10rem;
    width: 42rem;
    height: 33rem;
    
   
   background: rgba(255,255,255, .05);
   box-shadow: 00 10px rgba(0,0,0,0.25);
   backdrop-filter: blur(10px);

    border-width: 1rem;
    border-style:inset;
    margin-block: 2rem;
    border-color: #8746db;
   border-radius: 7rem;
  }
 
  input {
    display: block;
    position: relative;
    padding-bottom: 1.2rem;
    width: 30rem;
    top: -5rem;
    height: 2.2rem;
   
   
    border-style:outset;
    border-left: 0.2rem;
    border-right: 0.1;
    border-width: 0.2rem;
  
    text-align:center;
    background: rgba(255,255,255, .05);
    border-color: rgb(107, 6, 240);
    box-shadow: 00 10px rgba(0,0,0,0.25);
    border-radius: 10rem;
  }



  .file {
    position: relative;
    width: 5rem;
    height: 0.3rem;
    top:-1rem;
    left: 1rem;
    
  }
  .file:hover {
    width: 5.5rem;
    height: 0.9rem;
    background-color: #8c67bd;
  
  }
  
  
  .name {
    width: 24rem;
    left: 5.5rem;
   margin: 1rem;
    font-size: x-large;
  }
  .name:hover{
    width: 14.5rem;

  }
  
  .email {
   margin: 1rem;
   font-size: x-large;
  }
  
  .pass {
    margin: 1rem;
    font-size:large;
  }
  .repPass {
 margin: 1rem;
 font-size:large;
  }
 
  
  .send {
  display: block;
  position:relative;
  justify-content: center;
  top: -5rem;
  left: 11rem;
  width: 8rem;
  height: 4rem;
  color: rgba(195, 204, 204, 0.671);
  font-family:sans-serif;
  font-size: x-large;
  background-color: rgb(58, 18, 80);
  border-width: 0.2rem;
  border-radius: 4rem;
  border-bottom: 1rem;
  border-color: rgb(43, 43, 204);

  }
  .send:hover {
    width: 9.8rem;
    height: 4.5rem;
    background-color: rgb(3, 27, 58);
    font-size: xx-large;
    font-family:serif;
    border-style: groove;
    border-width: 1rem;
    border-color: blue;
  }

  .send2 {
    display:grid;
    position: relative;
    top: 21rem;
    left: 2.5rem;
    
    width: 8rem;
    height: 3rem;
    color: rgba(195, 204, 204, 0.671);
    background-color: rgb(58, 18, 80);
  
    font-family:sans-serif;
    font-size:x-large;
    border-width: 0.2rem;
    border-radius: 4rem;
    border-bottom: 1rem;
    border-color: rgb(43, 43, 204);
  
    }
  .send2:hover {
    width: 8.5rem;
    height: 3.7rem;
    background-color: rgb(2, 3, 41);
    font-family:serif;
    border-style: groove;
    border-width: 1rem;
    border-color: blue;
  }
  p {
    display:grid;
    position: relative;
    text-align: center;
    font-size:xx-large;
    font-family: initial;
    color: rgb(136, 101, 233);
    top: auto;
    left: 4rem;
    width: 5rem;
    height: 1rem;
  
  }
  